# Boot-time config file of Syslinux (liigmain.bin, Liigboot main MBR boot).

default bm
prompt 1


# SYSLINUX kernel *.(other) == SYSLINUX linux == GRUB kernel.
label m
	kernel m.k

# SYSLINUX linux == GRUB kernel.
label lm
	linux m.k

# SYSLINUX boot == GRUB chainloader.
label bm
	boot m.k

# SYSLINUX kernel *.(other) == SYSLINUX linux == GRUB kernel.
label mb
	linux m.mb

# SYSLINUX boot == GRUB chainloader.
label bmb
	boot m.mb

label r
	linux r.k
label br
	boot r.k
label br16
	boot r16.k

label memtest
	boot memtest.bs

label g
#	boot grub4dos.bs
	boot g4d4.mb
label grub
#	boot grub4dos.bs
	boot g4d4.mb

label s
	boot sysl4.mb
label syslinux4
	boot sysl4.mb

label n
	linux netbootx.k
label netboot
	linux netbootx.k
label netboot.xyz
	linux netbootx.k

label g1
	boot grub1.mb
label grub1
	boot grub1.mb
